<div class="container">
  <div class="about_movie">
    <div class="row" id="movie_title">
      <div class="col-md-3">
          <%= image_tag(@movie.poster_image.variant(resize:'350x350')) %>
      </div>
      <div class="col-md-4">
      <h1>
        <%= @movie.title %>
      </h1>

    <div class="movie_ganre">
      <p>
        <strong>Ganre:</strong>
        <%= @movie.ganre %>
      </p>
    </div>
    <div class="movie_release_date">
      <p>
        <strong>Relesead:</strong>
        <%= @movie.release_date %>
      </p>
    </div>
    <div class="ratings">
      <p>
        <strong>Imdb rating:</strong>
        <%= @movie.imdbRating %>
      </p>
      <p>
        <strong>Metascore rating:</strong>
        <%= @movie.metascore %>
      </p>
    </div>
    <div class="movie_director">
      <p>
      <strong>Director:</strong>
      <%= @movie.director %>
      </p>
    </div>
    <div class="movie_actors">
      <p>
        <strong>Actors:</strong>
        <%= @movie.actors %>
      </p>
    </div>
      </div>
    </div>
    <div class="movie_plot">
      <%= @movie.plot %>
    </div>

    <% if flash[:error].present? %>
      <div class="alert alert-danger" role="alert">
      <p><%= flash[:error]%></p>
      </div>
    <% end %>
    <div class="watch_later_button">
      <%= link_to "Watch later", add_to_watch_later_movie_path(@movie), method: :put, class:"btn btn-warning pull-right", role:"button"%>
    </div>

  </div>
  <%= render partial: "reviews/reviews", locals: {reviewable: @movie} if @movie.reviews.any?%>
  <%= render partial: "reviews/form", locals: {reviewable: @movie}%>
</div>