<p>
  <strong>User:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Created:</strong>
  <%= @user.created_at.strftime("%d.%m.%Y") %>
</p>

<% unless @user.updated_at.nil? %>
<p>
  <strong>Updated:</strong>
  <%= @user.updated_at.strftime("%d.%m.%Y") %>
</p>
<%end %>

<%= link_to 'Back', users_path %>