<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <div class="well well-sm">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6 col-md-4">-->
            <%# if @user.profile_image.attached? %>
             <%#= image_tag(@user.profile_image.variant(resize:'350x500'), class: "user-image-for-show") %>
              <%# else %>
              <%#= image_tag("default-user-icon-8.jpg", height: 220, widht: 140) %>
              <%# end %>
<!--          </div>-->
<!--          <div class="col-sm-6 col-md-8">-->
<!--            <h2><strong><%#= @user.nickname %></strong></h2>-->
<!--            <div class="text_about_user">-->
<!--              <p>-->
<!--                  <strong>Status of account:</strong>-->
                    <%# if @user.active  %>
<!--                      <span>Active</span>-->
                    <%#else %>
<!--                      <span>Blocked</span>-->
                    <%#end %>
<!--              </p>-->
<!--              <p>-->
<!--                <strong>Role:</strong>-->
                <%#= @user.role %>
<!--              </p>-->
<!--              <p>-->
<!--              <strong>Email:</strong>-->
              <%#= @user.email %>
<!--              </p>-->
<!--              <p>-->
<!--                <strong>Created:</strong>-->
                <%#= @user.created_at.strftime("%d.%m.%Y") %>
<!--              </p>-->
              <%# unless @user.updated_at.nil? %>
<!--                <p>-->
<!--                  <strong>Updated:</strong>-->
                  <%#= @user.updated_at.strftime("%d.%m.%Y") %>
<!--                </p>-->
              <%#end %>
<!--            </div>-->
<!--            <div class="show-button-group">-->
            <%#= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary", role:"button" %>
            <%#= link_to 'Back', users_path, class:"btn btn-primary", role:"button"%>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div class="well well-sm">
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <% if @user.profile_image.attached? %>
    <%= image_tag(@user.profile_image.variant(resize:'350x500'), class: "user-image-for-show") %>
    <% else %>
    <%= image_tag("image/default-user-icon-8.jpg",onerror: "this.onerror=null;this.src='default-user-icon-8.jpg';", height: 220, widht: 140) %>
    <% end %>
  </div>
    <div class="col-sm-6 col-md-8">
      <h2><strong><%= @user.nickname %></strong></h2><br>
      <p><strong>Email:</strong>
      <%= @user.email %>
      </p>
      <p><strong>Created:</strong>
        <%= @user.created_at.strftime("%d.%m.%Y") %>
      </p>
      <% unless @user.updated_at.nil? %>
        <p>
          <strong>Updated:</strong>
      <%= @user.updated_at.strftime("%d.%m.%Y") %>
        </p>
      <%end %>
    </div>
    <div class="show-button-group">
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary", role:"button" %>
      <%= link_to 'Back', users_path, class:"btn btn-primary", role:"button"%>
    </div>
  </div>
</div>
</div>
<!--    </div>-->
<!--  </div>-->
<!--    </div>-->