<div class="container">
<h3>Find movie on OMDb resource</h3>
<%= render partial: "layouts/search_form", locals: { path: admin_movies_path}%>
  <br>
  <% if @movies %>
    <div class="table-responsive">
    <table class="table table-hover mt-2">
      <thead class="thead-inverse">
      <tr>
        <th scope="col">Movie</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">imdbID</th>
        <th></th>
        <th></th>
      </tr>
      <tbody class="tcontent">
      <%@movies.each do |movie| %>
      <tr>
        <td><%= image_tag(movie["Poster"], height:120, width:120 ) %></td>
        <td><%= movie["Title"] %></td>
        <td><%= movie["Year"] %></td>
        <td><%= link_to 'Add to db', new_admin_movie_path(imdbID: movie["imdbID"]), class:"btn btn-info", role:"button"%></td>
      </tr>
        <%end %>
      </tbody>
    </table>
  </div>
    <%end %>
</div>