<h4>Reviews:</h4>
<div class="col-sm-7">
<% reviewable.reviews.each do |review| %>
  <div class="mt-mb-3 mb-sm-0">
    <div class="delete_rewiew">
      <% if  current_user.admin? || current_user.id == review.user.id %>
        <div class="edit_delete_block">
        <%=link_to "edit",  edit_movie_review_path(reviewable,review), class: "link" %>
        <%=link_to "delete", [reviewable,review], method: :delete, class: "link" %>
        </div>
      <%end %>
    </div>
    <% if review.user.profile_image.attached? %>
      <%= image_tag(review.user.profile_image.variant(resize:'50x50'), class: 'rounded-circle') %>
    <% else %>
      <% image_tag("default-user-icon-8.jpg", height:30, width: 30, class: 'rounded-circle') %>
    <% end %>

    <strong>User:</strong>
    <%= review.user.nickname %>
    <br>
    <strong>User rate for this movie:</strong>
    <%= review.rate %>
    <br>
    <strong>Review:</strong>
    <%= review.description%>
    <br>
  </div>
<% end %>
</div>